@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
body {
  font-family: "Zalando Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #333;
  font-size: 18px;
}

strong, b {
  font-weight: 600;
  color: #181818;
}

i {
  text-decoration: none;
  font-style: normal;
}

h1.page-title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 10px;
  flex-direction: column;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  max-width: 440px;
}
h1.page-title .site-logo {
  width: 280px;
  height: auto;
}
h1.page-title .slogan {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
  opacity: 0.8;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 1rem;
  line-height: 1.33;
}
@media (min-width: 1600px) {
  h1.page-title {
    zoom: 1.3;
  }
}
@media (max-width: 767px) {
  h1.page-title {
    max-width: 340px;
  }
  h1.page-title .site-logo {
    width: 180px;
    height: auto;
  }
  h1.page-title .slogan {
    font-size: 18px;
  }
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(./haejoox-landing.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}